@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f2f1f0;
}
#menu-0 .mbr-navbar__section {
  background: #f2f1f0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #faaf40;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#content5-k .mbr-header .mbr-header__text {
  text-align: right;
  color: #ffffff;
}
#content5-k .mbr-header .mbr-header__subtext {
  text-align: right;
  color: #fff;
}
#content5-k .mbr-article {
  color: #fff;
}
#content5-k .mbr-article P {
  text-align: right;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #3d8eb9;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#features1-5 .mbr-section-title .mbr-header__text {
  color: #3d8eb9;
}
#header3-m H3 {
  text-align: center;
  color: #3d8eb9;
}
